[Unit]
Description=Alfred Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/bin/bash -c "docker-compose -f /opt/alfred/docker-compose.yml up"
ExecStop=/bin/bash -c "docker-compose -f /opt/alfred/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target
